* {
    margin: 0px;
    padding: 0px;
    font-family: "Orbitron", sans-serif;
} 

:root {
    --body-color: #c0c0c0;
    --geral-color: #2B2B2B;
    --texto-color: #ffffff;
    --detalhesverde: #2E3022;
    --brancofixo: #ffffff;
    --hover: #A3AB78;
}

/* class para teste qualquer teste so modificar conforme nescessario

.teste {
    width: 100%;
    border: 2px solid red;
}

*/

h1{
    font-size: 45px;
}
h2{
    text-align: center;
}
p{
    font-size: medium;
}

h3{
    font-size: 20px;
    margin: 5px 0px 1px 20px;
}

a{
    text-decoration: none;
    color: var(--brancofixo)
}

body{
    /*background: linear-gradient( to bottom, #000000 0.1%,#042326, #0A3A40, #1D7373 50%, #042326, #000000);*/
    min-height: 100vh;
}

button{
    border: none;
    cursor: pointer;
    color: var(--brancofixo);
    background-color: #2B2B2B;
}
/* Cabeçalho todo com letras brancas sempre */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #2B2B2B;
    box-shadow: 0 0 10px var(--detalhesverde);
    border-bottom: 3px solid var(--detalhesverde);
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 5;
    color: var(--brancofixo);
}
/* Cabeçalho todo com letras brancas sempre */
.logo {
    margin-left: 30px;
}
.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    font-size: small;
}
.menu ul li {
    margin: 5px 10px;
}

@media (min-width: 1100px) {
  .menu ul li {
    font-size: medium;
  }
}
@media (max-width: 930px) {
  .someparte1 {
    display: none;
  }
}
@media (max-width: 700px) {
  .someparte2 {
    display: none;
  }
}
#bt-menu-fecha {
    display: none;
}

.bt-modo-escuro {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    border-radius: 50%;
}
#sol {
    display: none;
}

.icon-hover:hover {
    color: var(--hover);
}
a:hover {
    color: var(--hover);
}

    /*Menu Lateral/mini*/
.menuLateral {
    position: fixed;
    height: 97vh;
    width: 45%;
    min-width: 300px;
    right: 0%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
    padding-top: 20px;
    z-index: 3;
    display: none;
    flex-direction: column;
}
.item-menu-lateral {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px 0px 15px 0px;
}
.item-menu-lateral a {
    color: var(--brancofixo);
    font-family: "Stack Sans Notch", sans-serif;
    font-size: larger;
}
.barra {
    width: 90%;
    margin: auto;
    border: 2px solid var(--detalhesverde);
}


/*Apresentação Inicial*/
/*Video*/
.cont-vid {
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -2;
}
.cont-vid iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px #000000;
}
/*Filtro do video*/
.filtro {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: linear-gradient(90deg,rgba(0, 1, 10, 1) 0%, rgba(37, 18, 179, 0.48) 57%, rgba(0, 1, 10, 1) 100%);
}
main{
    padding-top: 30px;
}
/*Conteudo da apresentacao - fica em cima do video*/
.Aprest {
    height: 550px;
    display: flex;
    margin-bottom: 40px;
    color: var(--brancofixo);
}
.contdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3%;
    padding: 3% 10%;
}
.contdo-ft-rsm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 5%;
}
.contdo-ft-rsm img {
    min-width: 120px;
    width: 20%;
    max-width: 180px;
    border-radius: 100px;
    box-shadow: 0 0 10px black;
}

/*Geral - Todo o resto do conteudo - Conteudo principal*/ 
.geral {
    min-width: 650px;
    max-width: 85%;
    margin: auto;
    margin-top: 40px;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--geral-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 20px #000000;
    row-gap: 50px;
    color: var(--body-color);
}

@media (min-width: 1400px) {
  .geral {
    width: 75%;
  }
}

/*Geral - Live - Conteudo principal*/ 
.Cont-Live {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.Live {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.IF-Live {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;

}
/* Chat sumir qunado a tela for menor que 780px -- NAO ESTA ATIVO
@media (max-width: 780px)  {
    .IF-Chat {
        display: none;
    }

    .IF-Live {
        width: 100%;
    }
}
*/

/*Geral - Conteudo Historia - Conteudo principal*/ 
.Contdo-Historia {
    width: 90%;
}

/*Geral - Conteudo Offline - Conteudo principal*/ 
.Contdo-offline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Geral - Conteudo Offline - Videos*/ 
.Amostradinha {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
    row-gap: 20px;
}
.Item-Amostr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: rgba(129, 130, 116, 0.15);
}
.Item-Amostr-Video {
    width: 100%;
    aspect-ratio: 16 / 9;
}
.Item-Amostr iframe {
    width:  100%;
    height: 100%;
    border-radius: 8px;

}
@media (min-width: 900px) {
  .Item-Amostr {
    width: 43%;
  }
  .Item-Amostr p{
    font-size: medium;
  }
}
@media (min-width: 1550px) {
  .Item-Amostr {
    width: 30%;
  }
}
@media (min-width: 1820px) {
  .Item-Amostr {
    max-width: 430px;
  }
}

/*Rodapé - Geral*/
footer {
    width: 100%;
    z-index: -1;
    position: absolute;
    color: var(--brancofixo);
} 
/*Rodapé - Links*/
.links {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    column-gap: 3%;
    align-items: center;
    box-shadow: 0 0 10px var(--detalhesverde);
    border-top: 3px solid var(--detalhesverde);
    border-bottom: 3px solid black;
    background-color: rgb(94, 165, 228);
}
.links h2 {
    font-size: medium;
}
/*Rodapé - Filtro*/
.fter {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: -2;
}
.fter img {
    position: absolute;
    width: 100%;
    height: 98%;
    bottom: 0;
    z-index: -1;
}